body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 32px;
  width: 100%;
}
header {
  background-color: #fff;
  border-bottom: px solid #ccc;
  text-align: center;
}

.top {
  position: relative;
  
}

#moyamoya {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#oyasumi {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

h1#title {
  font-size: 80%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  padding: 1px;
}

h1#message {
  font-size: 120%;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1px;
}

h3 {
  font-size: 20px;
}

main {
  width: 100%;
  border-bottom: 0px solid #ccc;
  position: relative;
}
footer {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
p {
  font-size: medium;
  margin: 1px;
}
ul {
  padding: 0;
  border-top: 1px solid #000000;
  display: table; /* 定義 */
  table-layout: fixed;
  width: 96%;
  font-size: 80%;
  margin: 0 3%;
  text-align: center;
}
li {
  list-style-type: none;
  border: 1px solid #666;
  background-color: #fff;
  display: table-cell; /* 定義 */
  cursor: pointer;
  color: #0d7dfd;
}

.output {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.incident {
  width: 50%;
}

.emo {
  display: flex;
  align-items: flex-end;
}

#memo {
  width: 80%;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 10px 3%;
  padding: 10px;
  height: 100px;
  font-size: 60%;
  box-shadow: 1px 1px 1px 1px #c7c7c7;
  background-color: rgb(241, 239, 239);
}

#key {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  padding: 20px;
  background-color: #ade0ff;
  border-radius: 50px;
  font-size:60%;
  border-color: #ade0ff;
  box-shadow: 1px 1px 1px 1px #c7c7c7;
}

.maru1 {
  margin-bottom: 20px;
  
  position: relative;
  padding: 6px;
  background-color: #ade0ff;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px #c7c7c7;
}
.maru2 {
  margin-bottom: 20px;
  margin-left: 5px;
  position: relative;
  padding: 10px;
  background-color: #ade0ff;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px #c7c7c7;
}

table {
  margin: 20px 3%;
  width: 96%;
}
th {
  height: 30px;
  padding-left: 10px;
  width: 20%;
  font-size: 20px;
  color: red;
  font-family: HanziPen SC;
  border-bottom: 1px solid #8dc3f5;
}
td {
  height: 30px;
  font-size: 20px;
  font-family: HanziPen SC;
  border-bottom: 1px solid #8dc3f5;
}
input {
  margin: 10px 3%;
  width: 95%;
  height: 40px;
  font-size: 80%;
}

#save {
  margin: 20px;
  padding: 7px;
  color: white;
  font-size: medium;
  background-color: dodgerblue;
  border: 0;
  border-radius: 5px;
}

#clear {
  margin: 20px;
  padding: 7px;
  color: white;
  font-size: medium;
  background-color: yellowgreen;
  border: 0;
  border-radius: 5px;
}

#reset {
  margin: 20px;
  padding: 7px;
  color: white;
  font-size: medium;
  background-color: gray;
  border: 0;
  border-radius: 5px;
}